<!DOCTYPE html>
<html lang="en">
  <head>
    <title>	Accueil</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/camera.css">
    <link rel="stylesheet" href="css/owl-carousel.css">
    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script><!--[if lt IE 9]>
    <html class="lt-ie9">
      <div style="clear: both; text-align:center; position: relative;"><a href="http://windows.microsoft.com/en-US/internet-explorer/.."><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    </html>
    <script src="js/html5shiv.js"></script><![endif]-->
    <script src="js/device.min.js"></script>
  </head>
  <body>
    <div class="page">
      <!--
      ========================================================
      							HEADER
      ========================================================
      
      
      -->
      <header>
        <div class="container">
          <div class="brand">
              <img src="images/logo.PNG"  />
            <h1 class="brand_name"><a ></a></h1>
            <p class="brand_slogan">Réserver dès maintenant votre véhicule</p>
          </div><a href="callto:#" class="fa-phone">080-20-30-100</a>
          <p> Appeler ce numéro pour : <br>
          - Réserver une voiture
         <br>
          - Se renseigner des offres
           </p>
        </div>
        <div id="stuck_container" class="stuck_container">
          <div class="container">
            <nav class="nav">
              <ul data-type="navbar" class="sf-menu">
                <li class="active"><a href="./">Accueil</a>
                </li>
                <li><a href="index-1.html">Connaitre HireCar</a>
                  <ul>
                    <li><a href="#">Mot du directeur Général</a></li>
                    <li><a href="#">Missions et Valeurs</a></li>
                    <li><a href="#">Notre Histoire</a></li>
                    <li><a href="#">Chiffres clés</a></li>
                  </ul>
                </li>
                <li><a href="index-2.html">Services</a>
                 <ul>
                    <li><a href="#">Espace client</a></li>
                    <li><a href="#">Espace voiture</a></li>
                    <li><a href="#">Espace reservations</a>
                       </li>
                    <li><a href="#">Services en ligne</a></li>
                  
                  </ul>
                   
                </li>
                <li><a href="index-1.html">Partenaires</a>
                  <ul>
                    <li><a href="#">Agences de voyages</a></li>
                    <li><a href="#">Affilies</a></li>
                  </ul>
                </li>
                <li><a href="../../Login.xhtml">Vos Reservation</a>
                </li>
               <li><a href="index-1.html">Support Client</a>
                  <ul>
                    <li><a href="#">Foire aux Questions</a></li>
                    <li><a href="#">Nous Contacter</a></li>
                    <li><a href="#">Services Client après location</a></li>
                    <li><a href="#">Infos règles de carburant</a></li>
                    <li><a href="#">Infos sur les franshises</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <!--
      ========================================================
                                  CONTENT
      ========================================================
      -->
      <main>
        <section class="camera_container">
          <div id="camera" class="camera_wrap">
            <div data-src="images/slide01.png">
              <div class="camera_caption fadeIn">
                <div class="container">
                  <div class="row">
                    <div class="preffix_6 grid_6">Réservez votre voiture préférée en quelques clics</div>
                  </div>
                </div>
              </div>
            </div>
            <div data-src="images/slide02.PNG">
              <div class="camera_caption fadeIn">
                <div class="container">
                  <div class="row">
                    <div class="preffix_6 grid_6">Disponibilité continue pour un service rapide et de qualité</div>
                  </div>
                </div>
              </div>
            </div>
            <div data-src="images/slide13.PNG" >
              <div class="camera_caption fadeIn">
                <div class="container">
                  <div class="row">
                    <div class="preffix_6 grid_6">Annuler et Modifier votre réservation en toute sécurité</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <br>
            <br>
            <br>
        </section>
        <section>
          <div class="container banner_wr">
            <ul class="banner">
              <li>
                 <img src="images/espace_voiture.png"  />
                <h3>Espace Voiture</h3>
                <p>Cet espace comporte les types de voitures, leur prix et leurs caractéristiques ... </p><a href="#"></a>
              </li>
              <li>
                <img src="images/espace_employeur.jpg"  />
                <h3>Espace Client</h3>
                <p>Le client peut consulter son profil, examiner les offres les possibilités ... </p><a href="#"></a>
              </li>
              <li>
                <img src="images/espace_reservation.png"  />
                <h3>Espace Réservation</h3>
                <p>Il contient les réserversations effectuées par le client, la prise en charges et la facturaction, les offres  </p><a href="#"></a>
              </li>
              <li>
               <img src="images/services_ligne.jpg"  />
                <h3>Services en Ligne</h3>
                <p>Les portails RESERVATIONS, OFFRES, ainsi que le paiement peuvent effectués en ligne.</p><a href="#"></a>
              </li>
            </ul>
            
          </div>
        </section>
      
        <section class="well1">
       
          <div class="container">
          
            <div class="row">
              <div class="grid_4">
                <h2>Le HireCar</h2><img src="images/logo.PNG" alt="">
                <p>Garantissant des locations de véhicules dans 160 pays et 42 langues, HireCar est le plus grand service de réservation de locations de voitures dans le monde. En collaboration avec les plus grands fournisseurs, nous vous proposons des tarifs avantageux sur tous types de voitures, y compris les véhicules de luxe, monospaces, fourgonnettes et les voitures à boîte automatique. Avec une disponibilité continue, ouvert 7 jours sur 7, nous pouvons vous trouver les meilleurs tarifs de location quand vous voulez - où vous voulez..
                </p><a href="#" class="btn">Lire Plus</a>
              </div>
              <div class="grid_4">
                <h2>Services</h2>
                <p>Les plus grands services de réservation de locations de voitures au monde.
Prestations de qualité, accompagnement des clients tout au long du processus et large portefeuille de marques de voitures sont les clés de la réussite de nos services HireCar.</p>
                <ul class="marked-list">
                  <li><a href="#">Service Voiture </a></li>
                  <li><a href="#">Service Client</a></li>
                  <li><a href="#">Service Reservation</a></li>
                  <li><a href="#">Services en Ligne</a></li>
                </ul><a href="#" class="btn">Lire Plus</a>
              </div>
              <div class="grid_4">
                <div class="info-box">
                  <h2 class="fa-comment">Centre d'aide
                  <hr>
                  <h3>Demandez aux professionnels:</h3>
                  <dl>
                    <dt>Lundi - Jeudi:</dt>
                    <dd>9h-16h</dd>
                  </dl>
                  <dl>
                    <dt>Vendredi:</dt>
                    <dd>9h-12h</dd>
                  </dl>
                  <hr>
                  <h3>24/7 Support en Ligne:</h3>
                  <dl>
                    <dt>080-20-30-100</dt>
                  </dl>
                </div>
                <div class="owl-carousel">
                  <div class="item">
                    <blockquote class="box">
                    <cite><a href="#">Mot du Directeur</a></cite>
                      <div class="box_aside"><img src="images/Directeur.jpeg" alt=""></div>
                      <div class="box_cnt__no-flow">
                        <p>
                          <q>Dans le cadre du renforcement de sa politique de proximité et d’amélioration de la qualité de service, le HireCar a lancé depuis 2010 ce portail. </q>
                        </p>
                        
                      </div>
                    </blockquote>
                  </div>
                
                  <div class="item">
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!--
      ========================================================
                                  FOOTER
      ========================================================
      -->
      <footer>
        <section class="well3">
          <div class="container">
            <ul class="row contact-list">
              <li class="grid_4">
                <div class="box">
                  <div class="box_aside">
                    <div class="icon2 fa-map-marker"></div>
                  </div>
                  <div class="box_cnt__no-flow">
                    <address>649 rue Victor Hugo, Paris <br/> 75013, France</address>
                  </div>
                </div>
                <div class="box">
                  <div class="box_aside">
                    <div class="icon2 fa-envelope"></div>
                  </div>
                  <div class="box_cnt__no-flow"><a href="mailto:#">hirecar@gmail.com</a></div>
                </div>
              </li>
              <li class="grid_4">
                <div class="box">
                  <div class="box_aside">
                    <div class="icon2 fa-phone"></div>
                  </div>
                  <div class="box_cnt__no-flow"><a href="callto:#">+33 522 54 70 54</a></div>
                </div>
                <div class="box">
                  <div class="box_aside">
                    <div class="icon2 fa-fax"></div>
                  </div>
                  <div class="box_cnt__no-flow"><a href="callto:#">+33 522 24 55 40</a></div>
                </div>
              </li>
              <li class="grid_4">
                <div class="box">
                  <div class="box_aside">
                    <div class="icon2 fa-facebook"></div>
                  </div>
                  <div class="box_cnt__no-flow"><a href="#">Suivez-nous sur facebook</a></div>
                </div>
                <div class="box">
                  <div class="box_aside">
                    <div class="icon2 fa-twitter"></div>
                  </div>
                  <div class="box_cnt__no-flow"><a href="#">Suivez-nous sur Twitter</a></div>
                </div>
              </li>
            </ul>
          </div>
        </section>
       
      </footer>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>