<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Paramètres métiers</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<h1>Paramètres de l'application</h1>
	
	<table>
		<thead>
			<tr>
				<th>Libellé</th><th>Valeur</th><th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p:${parametres}">
				<td th:text="${p.libelle}"></td>
				<td th:text="${p.valeur}"></td>
				<td th:text="${p.description}"></td>
				<td><a th:href="@{edit(id=${p.ID})}"><button>Modifier</button></a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>